{% extends "base.html" %}

{% block title %} Blog {% endblock %}

{% block content %}
    <div class="container blog">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil amet mollitia ducimus libero cumque culpa facere quia voluptas optio ad? Amet adipisci fugiat consequuntur, praesentium vitae reprehenderit? Dolores quisquam fugiat suscipit beatae, dolor eaque a deserunt ratione inventore tenetur ab natus aut, assumenda velit saepe odio pariatur eius quia facilis, qui accusantium rem! Eos architecto at dolore, ducimus expedita aliquam provident sit culpa voluptas magnam blanditiis omnis quo odio undes
    </div>
{% endblock %}


