<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>{{ blogpost.title }}</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, rerum impedit. Ratione cupiditate vero nesciunt sapiente saepe ipsa est, nobis non voluptatum nisi hic incidunt accusantium officiis excepturi laboriosam sed eligendi dolor architecto, magnam maxime officia doloremque et molestias? Neque perferendis molestiae aliquid sint expedita ratione autem consequatur modi ipsum?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor blanditiis at quidem saepe magnam, soluta nihil mollitia voluptatem? Eveniet error quas ratione, corporis placeat voluptatem temporibus laudantium quae deleniti ducimus, dicta ipsa vitae minima at repudiandae. Aut incidunt id alias voluptatibus corrupti deleniti molestias architecto, minus commodi. Maxime explicabo dolorum, ipsam dignissimos eius accusamus necessitatibus placeat doloribus facilis! Sunt, dolorem.
    </p>
</body>
</html>