{% extends "base.html" %}

{% block title %} Projects {% endblock %}


{% block content %}
    <div class="container projects">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, doloremque nisi aliquam quia ratione perferendis similique porro vel aliquid ullam sit consequuntur, nihil fuga, temporibus optio delectus tempore sapiente eos repellat consectetur? Sapiente tempore at veniam. Nemo, sit aliquid, delectus doloremque cumque natus, voluptates perferendis debitis quam quidem vero nam pariatur optio quae? Blanditiis quos id perspiciatis laborum recusandae?
    </div>
{% endblock %}

